<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
</head>
<body>
    <h1>Register new User</h1>
    <form th:object="${user}" th:action="@{/submit}" method="post">
        <table>
            <tr>
                <td><label for="firstName">First Name:</label></td>
                <td><input id="firstName" type="text" th:field="*{firstName}"></td>
                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error</td>
            </tr>
            <tr>
                <td><label for="lastName">Last Name:</label></td>
                <td><input id="lastName" type="text" th:field="*{lastName}"></td>
                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</td>
            </tr>
            <tr>
                <td><label for="age">Age:</label></td>
                <td><input id="age" type="number" th:field="*{age}"></td>
                <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
            </tr>
            <tr>
                <td><label for="phoneNumber">Phone Number:</label></td>
                <td><input type="text" id="phoneNumber" th:field="*{phoneNumber}"></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Error</td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" id="email" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>